<div nz-row [nzJustify] = "'space-between'" style = "width : 700px; margin : 0px auto;">
    <div nz-col> 
        <h4 nz-typography>Ant Design</h4>
    </div>

    <div nz-col>
        <div nz-row>
            <div nz-col [nzPull] = "4">
                <input type="text" nz-input placeholder="input search text" />
            </div>

            <div nz-col [nzPull] = "3">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-maximize" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9C27B0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
                    <path d="M4 16v2a2 2 0 0 0 2 2h2" />
                    <path d="M16 4h2a2 2 0 0 1 2 2v2" />
                    <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
                  </svg>
            </div>
            

            <div nz-col [nzPull] = "2">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9C27B0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <path d="M5.5 5h13a1 1 0 0 1 0.5 1.5L14 12L14 19L10 16L10 12L5 6.5a1 1 0 0 1 0.5 -1.5" />
                  </svg>
            </div>

            <div nz-col [nzPull] = "1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-folders" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9C27B0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <path d="M9 4h3l2 2h5a2 2 0 0 1 2 2v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                    <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2h2" />
                </svg>
            </div>
        </div>
    </div>


</div>