<div nz-row style = "height : 500px;" [nzGutter] = "[20, 20]">

    <div nz-col [nzLg]="4" [nzXs]="{ span: 24 }">

        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ex perspiciatis ducimus, minima voluptatum nesciunt quod totam odit? Vel velit tempora sed, adipisci soluta nostrum et praesentium laborum sit vitae.
        </div>
        
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quidem quas cumque, exercitationem cupiditate obcaecati repellat cum labore. Reiciendis exercitationem unde tempore veniam temporibus, similique dignissimos illum ut dicta vitae.
        </div>

    </div>

    <div nz-col [nzLg] = "10" style = "height : 100%;" [nzXs]="{ span: 24 }">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae enim eaque facilis accusantium iusto, quis eveniet corrupti magni sit incidunt. Vero impedit debitis laudantium aliquam similique tenetur dolor nostrum beatae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor pariatur id, adipisci atque asperiores itaque sequi, molestiae quod autem aperiam eveniet animi? Labore dolore ipsum, ex quidem est quas quam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto consectetur inventore quo, consequuntur reprehenderit, doloremque alias illum omnis harum velit tempore sapiente? Sequi nobis tempora minus eos temporibus, nulla aut.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum architecto, cum tempora quia harum esse expedita laudantium modi facere perspiciatis nobis consequuntur, quas fuga, doloribus amet totam quaerat assumenda et.`
    </div>

    <div nz-col [nzLg] = "10" [nzXs]="{ span: 24 }">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum recusandae nulla, mollitia repellat veniam quasi nostrum aliquam impedit, consequuntur fugit eos iste, quisquam reprehenderit blanditiis vel eaque voluptatibus soluta eius.
        </div>
        
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eveniet suscipit ea soluta consectetur quibusdam debitis maxime veritatis vitae. Eveniet sequi voluptates magni nam similique distinctio perspiciatis pariatur quos numquam!
        </div>
    </div>

</div>