<div nz-col class = "form-ele" style  = "width : 500px; background-color : papayawhip; margin : 0 auto;" >
    
    <div nz-row>
        <div nz-col nzFlex = "30%">Name  </div>
        <div nz-col nzFlex = "70%">
            <input type="text" nz-input />
        </div>
    </div>
    
    <div nz-row>
        <div nz-col nzFlex = "30%">Email  </div>
        <div nz-col nzFlex = "70%">
            <input type="text" nz-input />
        </div>
    </div>

    <div nz-row>
        <div nz-col nzFlex = "30%">Address  </div>
        <div nz-col nzFlex = "70%">
            <input type="text" nz-input />
        </div>
    </div>
    <div nz-row>
        <div nz-col nzFlex = "30%">Phone  </div>
        <div nz-col nzFlex = "70%">
            <input type="text" nz-input />
        </div>
    </div>
    <div nz-row>
        <div nz-col nzFlex = "30%">Fax  </div>
        <div nz-col nzFlex = "70%">
            <input type="text" nz-input />
        </div>
    </div>




    
</div>