<button nz-button
    (click)="showModal()">Click to Open Modal</button>
<nz-modal [(nzVisible)]="isVisible"
    nzTitle="The first Modal"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <h1>This is the content </h1>
</nz-modal>


<button nz-button
    (click)="showModalNew()">Click to Custom</button>

<nz-modal [(nzVisible)]="isVisibleNew"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>
        Custom Modal Title
    </ng-template>

    <ng-template #modalContent>
        <p>Modal Content</p>
        <p>Modal Content</p>
        <p>Modal Content</p>
        <p>Modal Content</p>
        <p>Modal Content</p>
    </ng-template>

    <ng-template #modalFooter>
        <span>Modal Footer: </span>
        <button nz-button
            nzType="default"
            (click)="handleCancel()">Custom Callback</button>
        <button nz-button
            nzType="primary"
            (click)="handleOk()"
            >Custom Submit</button>
    </ng-template>

    <div>Footer Here</div>
</nz-modal>