<nz-space [nzSize]="20">


    <ng-container *ngFor="let position of listOfPosition">
        <nz-space-item>
            <button nz-button
                nz-dropdown
                [nzDropdownMenu]="menu"
                [nzPlacement]="position">{{ position }}</button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item>chicken Tikka</li>
                    <li nz-menu-item>Tandoori Chicken</li>
                    <li nz-menu-item>Mughlai Chicken</li>
                </ul>
            </nz-dropdown-menu>
        </nz-space-item>
    </ng-container>

</nz-space>